<div id="mapViewDiv" style="height: 100vh; width: 100%; background-color: #000;"></div>
<div class="top-right-div">

  <h3 style="text-align: center; color:#fff;">
    <span class="badge text-bg-warning">Active Incidents <span class="badge text-bg-danger">{{Incidents.length}}</span></span>
  </h3>
  <ul class="list-group" style="font-size: 10pt;" >
    <li class="list-group-item list-group-item-danger" *ngFor="let theincident of Incidents; index as i"  >
      <span (click)="zoomToArea(theincident.longitude, theincident.latitude, 18)">
      {{theincident.responseDate}} {{theincident.incidentType}} - {{theincident.address}} {{theincident.city}} - {{theincident.status}} Units {{theincident.units}}
      </span> 
    </li>
    
  </ul>

</div>
<div class="top-left-div">
  <button type="button" class="btn btn-primary" (click)="resetView()">Reset View</button>
</div>