#mapViewDiv {
    height: 100%;
    width: 100%;
  }

  .top-right-div {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    
    background-color: transparent; /* Example background color */
    border: 0px solid #fff; /* Optional border for visibility */
    box-sizing: border-box; /* Ensures padding and borders are included in width and height */
  }

  .top-left-div {
    position: absolute;
    top: 100px;
    left: 15px;
        
    background-color: transparent; /* Example background color */
    border: 0px solid #fff; /* Optional border for visibility */
    box-sizing: border-box; /* Ensures padding and borders are included in width and height */
  }